<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos del Usuario</title>
</head>

<body>
 <h1>Calculadora</h1>
  <form action="/calculator" method="post">
    <fieldset>

      <label for="txtnumero1">n1:</label>
      <input type="text" name="n1" id="txtnumero1" placeholder="n1"
      />
      <br />

      <label for="txtnumero2">numero2:</label>
      <input type="text" name="n2" id="txtnumero2" placeholder="n2"
    
      />
      
    </fieldset>
    <fieldset>
      <button type="submit" name="btnsumar">Suma</button>
      <button type="submit" name="btnresta">Resta</button>
     <button type="submit" name="btnmultiplicacion">Multiplicacion</button>
     <button type="submit" name="btndivision">Division</button>

    </fieldset>
  </form>

 <section>
    {{rstMessage}}
</section>

</body>
</html>